@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 220px;"class="text-center">
    @* <img style="margin-bottom: 50px;" src="@Url.Content("~/images/logo-large.png")" alt="FIDS"> *@
    <h1 class="display-6" style="margin-bottom: 40px;">Welcome to</h1>
    <h1 class="display-4">Flight Information Display System</h1>
    <h4>Admin Portal</h4>

</div>